*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white(255, 222, 89);
    height: 86vh;
}

header{
    background-color: black;
    width: 100%;
    height: 8vh;
    margin-bottom: 5%;
}
footer{
    background-color: black;
    width: 100%;
    height: 6vh;
    text-align: center;

}
footer p{
    color: white;
    padding-top: 1%;  
}

.margin-left{
    margin-left: 15%;
}
.margin-right{
    margin-right: 15%;
}

.header{
    
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 40%;
} 

.about-img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 85%;
}

.text-about{
    padding-top: 15%;   
    
}


@media screen and (max-width: 768px) {
    .header{
        
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}
@media screen and (max-width: 576px) {
    .header{
        
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}




